<a href="https://colab.research.google.com/github/valvaradoo/valeria-alvarado/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#estructuras de repetición
permite repetir una o más acciones de acuerdo con una acondición (mientras se cumpla la condición)

##Estructura para - for


1.   cuando se sabe cúantas veces se repite una acción.
2.   Está conformado por una condicción inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3. Esta estructura no se detenerá, hasta alcanzar CF-1


estructura general del for


```
for (variable) in range (CI,CF,paso):
 se repite (CF+1-CI)/ paso veces una acción

```
estructura resumida del for
```
for (variable) in range (Cantidad):
 se repite cuantas veces una acción



```
estructura for como iteración  

1.   El para (for) iteras tantas veces, como elmentos tenga la lista
2.   la variable toma el valor de cada elmento de la lista por iteración


```

lista=[1,2,3,4,5]
for (variable) in lista:
    se permite len(lista)
    
```

In [23]:
#Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número:"))

Digita un número:7

In [24]:
print(f"Tabla del {n}")
for holitas in range(1,11):
  print(f"{n} x {holitas}= {n*holitas}")

Tabla del 7
7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70

In [30]:
print("tablas del 1 al 1o/n")
print("")
for tabla in range(1,11,1):
  print(f"tabla del {tabla}")
  for numero in range(1,11,1):
    print(f"{tabla} x {numero}= {tabla*numero}")
print("")

tablas del 1 al 1o/n

tabla del 1
1 x 1= 1
1 x 2= 2
1 x 3= 3
1 x 4= 4
1 x 5= 5
1 x 6= 6
1 x 7= 7
1 x 8= 8
1 x 9= 9
1 x 10= 10
tabla del 2
2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20
tabla del 3
3 x 1= 3
3 x 2= 6
3 x 3= 9
3 x 4= 12
3 x 5= 15
3 x 6= 18
3 x 7= 21
3 x 8= 24
3 x 9= 27
3 x 10= 30
tabla del 4
4 x 1= 4
4 x 2= 8
4 x 3= 12
4 x 4= 16
4 x 5= 20
4 x 6= 24
4 x 7= 28
4 x 8= 32
4 x 9= 36
4 x 10= 40
tabla del 5
5 x 1= 5
5 x 2= 10
5 x 3= 15
5 x 4= 20
5 x 5= 25
5 x 6= 30
5 x 7= 35
5 x 8= 40
5 x 9= 45
5 x 10= 50
tabla del 6
6 x 1= 6
6 x 2= 12
6 x 3= 18
6 x 4= 24
6 x 5= 30
6 x 6= 36
6 x 7= 42
6 x 8= 48
6 x 9= 54
6 x 10= 60
tabla del 7
7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70
tabla del 8
8 x 1= 8
8 x 2= 16
8 x 3= 24
8 x 4= 32
8 x 5= 40
8 x 6= 48
8 x 7= 56
8 x 8= 64
8 x 9= 72
8 x 10= 80
tabla del 9
9 x 1= 9
9 x 2= 18
9 x 3= 27
9 x 4= 36
9 x 5= 45
9 x 6= 54
9 x 7= 63
9 x 8= 72
9 x 9= 81
9 x 10= 90
tabla del 10
10 x 1= 10
10 x 2= 20
10 x 3= 30
10 x 4= 40
10 x 5= 50
10 x 6= 60
10 x 7= 70
10 x 8= 80
10 x 9= 90
10 x 10= 100

In [26]:
print (f"tabla del {n}")
for holitas in range (10):
  print(f"{n}x{holitas+1}={n*(holitas+1)}")

tabla del 7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [27]:
print(f"tabla del {n}")
for holitas in range(1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

tabla del 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [29]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70